<p>Merry Christmas and a Happy 2019 to one and all!</p>

<section class="container with-title">
  <h2 class="title">The challenge</h2>
  <p>
    The aim of the game is to help Father Christmas
    <img src="/assets/images/santa.svg" alt="Father Christmas" class="align-middle" /> find his lost
    presents <img src="/assets/images/present.svg" alt="A present" class="align-middle" /> in the
    snow.
  </p>
  <p>
    You start each level with a snow covered board and Father Christmas visible, He can move up,
    down, left or right one sqaure at a time.
  </p>
  <p>
    The aim of the game is to collect all the presents in the least number of moves &ndash; but
    watch out, if you stumble across the Grinch
    <img src="/assets/images/grinch.svg" alt="The Grinch" class="align-middle" />, the level will be
    failed.
  </p>
</section>

<a class="btn is-primary" [routerLink]="['/level', 1]">Start game</a>
