<p>Merry Christmas and a Happy 2019 to one and all!</p>

<section class="container with-title">
  <h2 class="title">The challenge</h2>
  <p>The aim of the game is to help Father Christmas find his lost presents in the snow.</p>
  <p>You start each level with a snow covered board and Father Christmas visible, He can move up, down, left or right
    one sqaure at a time.</p>
  <p>The aim of the game is to collect all the presnets in the least number of moves &ndash; but watch out, if you
    stumble across the Grinch, the level will be failed.</p>
</section>

<a class="btn is-primary" [routerLink]="['/level', 1]">Start game</a>