<section class="container with-title">
  <h2 class="title">Level {{ levelNumber }}</h2>
  <dl>
    <dt>Presents:</dt>
    <dd>{{ level.foundPresents }}</dd>
    <dt>Moves:</dt>
    <dd>{{ level.moves }}</dd>
    <dt>Best:</dt>
    <dd>{{ highScore || '-' }}</dd>
  </dl>
  <xmas-level-cells
    [cells]="level.cells$ | async"
    [rows]="level.rows"
    [columns]="level.columns"
    [disabled]="level.isComplete || level.isFailed"
    (moved)="level.move($event.row, $event.column)"
  ></xmas-level-cells>
  <h1 *ngIf="level.isComplete" class="text-win">You win!</h1>
  <h1 *ngIf="level.isFailed" class="text-lose">You lose!</h1>
</section>

<section class="container with-title">
  <h2 class="title">Actions</h2>
  <nav class="btns">
    <button class="btn" type="button" [disabled]="!hasPrevious" (click)="gotoPrevious()">
      &lt; Level
    </button>
    <a routerLink="/" class="btn is-primary">Home</a>
    <button class="btn is-error" type="button" (click)="reset()">Reset</button>
    <button class="btn is-success" type="button" [disabled]="!canProgress" (click)="gotoNext()">
      Level &gt;
    </button>
  </nav>
</section>
