@charset "utf-8";

/*!
* NES.css v0.0.2(alpha)
*/

@import 'scss/base/index';
@import 'scss/utilities/index';
@import 'scss/elements/containers';
@import 'scss/elements/buttons';

@import 'scss/mixins';

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 2rem;

  @include large-screen {
    padding: 0 2rem;
  }
}

.loading-image {
  width: 12rem;
  height: 12rem;
  display: block;
  margin: 2rem auto;
}

.container:not(:last-child) {
  margin-bottom: 1rem;
}

.page {
  display: block;
  max-width: 900px;
  margin: 0 auto;
}

// TODO: Consider splitting out into another file
// Cell grid

.cell-grid {
  display: grid;
  grid-gap: 0.5rem;
  @include large-screen {
    grid-gap: 1rem;
  }
}

.cell-grid--disabled {
  opacity: 0.4;
}

$max-cells: 8;
$cell-size-small: 3rem;
$cell-size-large: 6rem;

@for $i from 1 through $max-cells {
  .cell-grid__#{$i}-rows {
    grid-template-rows: repeat($i, $cell-size-small);

    @include large-screen {
      grid-template-rows: repeat($i, $cell-size-large);
    }
  }
  .cell-grid__#{$i}-columns {
    grid-template-columns: repeat($i, $cell-size-small);

    @include large-screen {
      grid-template-columns: repeat($i, $cell-size-large);
    }
  }
}

.cell {
  border: 4px solid $color-black;
  border-radius: 4px;
  background: no-repeat center;
  background-size: 2rem;

  @include large-screen {
    background-size: 4rem;
  }
}

.cell--touched,
.cell--santa {
  background-color: #05cd94;
}

.cell--santa {
  background-image: url('/assets/images/santa.svg');
}

.cell--present {
  background-image: url('/assets/images/present.svg');

  &.cell--santa {
    background-position: top left, bottom right;
    background-image: url('/assets/images/santa.svg'), url('/assets/images/present.svg');
    background-size: 50%, 50%;
  }
}

.cell--grinch {
  background-image: url('/assets/images/grinch.svg');
  background-color: #ea795f;
  border-color: #92311a;
}

.cell--untouched {
  background: #fff;
}

@keyframes available {
  0%,
  100% {
    border-color: $color-black;
  }
  50% {
    border-color: #00f5af;
  }
}

.cell--available {
  animation: 1s cubic-bezier(0.75, 0, 0.55, 1) infinite available;
  cursor: pointer;

  .cell-grid--disabled & {
    animation: none;
    cursor: default;
  }
}

dd {
  color: $color-2D;
}

@include large-screen {
  dl {
    display: flex;
    justify-content: center;
  }

  dd {
    margin-right: 1.5rem;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

%state-text {
  animation: blink 1s infinite steps(1);
  text-align:center;
  margin-top: 1rem;
}

.text-win {
  @extend %state-text;
  color: $color-2A;
}

.text-lose {
  @extend %state-text;
  color: $color-15;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include large-screen {
    flex-direction: row;
    justify-content: center;
  }
}
