* {
  box-sizing: border-box;
}

body {
  padding: 0 2rem;
  margin: 2rem;
}

.page {
  display: block;
  max-width: 900px;
  margin: 0 auto;
}

// TODO: Consider splitting out into another file
// Cell grid

.cell-grid {
  display: grid;
  grid-gap: 1rem;
}

$max-cells: 8;

@for $i from 1 through $max-cells {
  .cell-grid__#{$i}-rows {
    grid-template-rows: repeat($i, 1fr);
  }
  .cell-grid__#{$i}-columns {
    grid-template-columns: repeat($i, 1fr);
  }
}

.cell {
  border: 4px solid #212529;
  border-radius: 4px;
  min-height: 10rem;
}
